body {
	background: rgb(242,176,194);
}

#imgOriginal {
	margin-top: 100px;
	text-align: center;
}

#canvasOrig {
	background-color: rgb(0,0,0);
	height: 600px;
	width: 800px;
}
#canvasFilt {
	background-color: rgb(0,0,0);
	height: 600px;
	width: 800px;
}
